[submodule "extlib/libdxfrw"]
	path = extlib/libdxfrw
	url = https://github.com/solvespace/libdxfrw.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/JackBoosY/vcpkg
	branch = dev/jack/14864
